--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.8.1+cpu
torchvision==0.9.1+cpu 
#pytorch_lightning==1.4.4

onnxruntime==1.7.0

#dill==0.3.4
cloudpickle==2.0.0
Flask==1.1.2
numpy==1.16.6
Pillow==7.1.2
#scikit_learn==0.22
scikit-image==0.16.2

setuptools<45.0.0
pyinstaller==3.5
scipy==1.4.1
matplotlib<3.2
