
<!--------- INCLUDE roots/js_templates.html START---------->

{% import 'base/js_templates.html' as base_js_templates %}

{% macro tracking_item_image(position) %}
<!--------- MACRO tracking_item_image({{ position }}) START---------->
<div class="unselectable view-box {{ position }}"
        style="max-width:50%; position:relative; overflow:hidden; background-color:grey;"
        ondblclick ="RootTracking.on_svg_dblclick(event)">
    <div class="transform-box" style="transform: matrix(1,0,0,1,0,0)"
        onmousedown="RootTracking.on_svg_mousedown(event)"
        onmousemove="RootTracking.on_svg_mousemove(event)"
        onwheel    ="RootTracking.on_svg_wheel(event)">
    <img  class="{{ position }} input-image unselectable pixelated" style="max-width:100%; max-height:90vh; pointer-events: none;">
    <img  class="{{ position }} overlay unselectable pixelated" 
            style="position:absolute; top:0px; left:0px; width:100%; height:100%; pointer-events:none; display:none;">
    <svg  class="{{ position }} tracking-overlay-svg"
            style="position:absolute; pointer-events: none;
                    top:0px; left:0px; 
                    width:100%; height:100%;"
            viewBox="0 0 1 1">  <!--viewBox adjusted in javascript-->
    
        <circle class="cursor" cx="0" cy="0" r="0px" fill="red" />
        <!--points="" adjusted in javascript-->
        <polyline class="matched-points" style="display:none" points="" fill="none" stroke="none"
                marker-start="url(#dot-marker)" marker-mid="url(#dot-marker)" marker-end="url(#dot-marker)" />
    </svg>
    </div>
</div>
<!--------- MACRO tracking_item_image({{ position }}) END---------->
{% endmacro %}



{% macro tracking_item_content() %}
<!--------- MACRO tracking_item_content() START---------->
<div class="content" style="display:none">
  {{ base_js_templates.content_menu(
    button_new_box           = False, 
    callback_on_process      = "RootTracking.on_process_clicked",
    view_menu_results_layout = False
  ) | indent }}

  {# TODO: move styles to css file #}
  <div class="image-container" style="display:flex; align-items: center; justify-content:space-around; width:100%; height:calc(100vh - 120px);">
    {# {{ tracking_item_image("left")                          | indent }}   #}
    {# {{ tracking_item_image("right")                         | indent }}   #}
    {{ base_js_templates.content_image(name="left input",  overlay=True) | indent(8) }}
    {{ base_js_templates.content_image(name="right input", overlay=True) | indent(8) }}
    {{ base_js_templates.progress_dimmer() }}
  </div>
</div>
<!--------- MACRO tracking_item_content() END---------->
{% endmacro %}



<template id="tracking-item">
    <tr class="ui title" filename0="${filename0}" filename1="${filename1}">
        <td style="width:50%;"> 
            <i class="dropdown icon"></i>
            <label>${filename0}</label>
        </td>
        <td style="width:50%;">
            <label>${filename1}</label>
        </td>

        <!--<td style="display:flex; justify-content: space-around;" onclick="event.stopPropagation();">
            <i class="grey close icon"></i>
        </td>-->
    </tr>
    
    <tr style="display:none" filename0="${filename0}" filename1="${filename1}" filename="${filename0}">
        <td colspan="5" class="ui content" style="padding:0px; padding-bottom:10px;">
          {{ base_js_templates.loading_spinner() | indent(8) }}
          {{ tracking_item_content()             | indent(8) }}
        </td>
    </tr>
</template>





{#
    
  TODO

                <div class="ui disabled checkbox show-growthmap-checkbox">
                  <input type="checkbox">
                  <label>Show growth map</label>
                </div>
                <div class="ui divider" style="border:0px;"></div>
                <div class="ui disabled checkbox show-matched-points-checkbox">
                  <input type="checkbox">
                  <label>Show matched points</label>
                </div>
              
              <a class="item help-menu-button"><i class="help icon"></i></a>
              <div class="ui segment flowing popup">
                <ul class="ui list">
                  <li><b>SHIFT + Drag</b> to move the image</li>
                  <li><b>SHIFT + Mouse wheel</b> to zoom</li>
                  <li><b>SHIFT + Double-click</b> to reset</li>
                  <li><b>CTRL + Click</b> in both images to add a manual correction point</li>
                  <li><b>CTRL + Drag</b> within the right image from <span class="ui red text">red</span> to <span class="ui green text">green</span> to add a manual correction point</li>
                  <li><b>CTRL + Click</b> on a highlighted <span class="ui teal text">cyan</span> point to remove it</li>
                </ul>
              </div>
              <script>$('.help-menu-button').last().popup({hoverable:false});</script>
            
    
#}

<!--------- INCLUDE roots/js_templates.html END---------->

