{% import 'base/main_container.html' as base_main_container %}


{% macro tabs() %}
<div class="ui pointing secondary tabs menu">
    <a class="active item" data-tab="detection"> Detection</a>
    <a class="item"        data-tab="tracking">  Tracking </a>
    <a class="item"        data-tab="training">  Training </a>
</div>
{% endmacro %}


{% macro tracking_tab() %}
    <div class="ui tab segment" data-tab="tracking"  style="padding:0">
        {% include 'roots/tracking_tab.html' %}
    </div>
{% endmacro %}



{% macro main_container(app) %}
    {{ base_main_container.main_container( app, tabs = tabs(), extra = tracking_tab() ) }}
{% endmacro %}
