{% import   'base/top_menu.html'        as base_top_menu %}



{% macro load_exclude_masks_item(app) %}
<label for="input_masks" class="ui icon item">
    <i class="images red icon"></i>
    Load Exclude Masks
  </label>
  <input type="file" id="input_masks" style="display:none" onclick="this.value=null;"
         onchange="{{ app }}.FileInput.on_exclusionmasks_select(event)" accept="image/*" multiple>
{% endmacro %}



{% macro top_menu(app) %}
{{ base_top_menu.top_menu(app, filemenu_extras=load_exclude_masks_item(app)) }}
{% endmacro %}


