{% from 'base/detection_tab.html' import filetable_menu %}
{% import 'base/js_templates.html' as base_js_templates %}
{% import 'base/content_menu.html' as content_menu %}


{% macro svg_overlay(name) %}
<svg  class="{{name}} overlay" viewBox="0 0 1 1"
      style="pointer-events: none;">  <!--viewBox adjusted in javascript-->

  <circle class="cursor" cx="0" cy="0" r="0px" fill="red" />
  <!--points="" adjusted in javascript-->
  <polyline class="matched-points" style="display:none" points="" fill="none" stroke="none"
            marker-start="url(#dot-marker)" marker-mid="url(#dot-marker)" marker-end="url(#dot-marker)" />
</svg>
{% endmacro %}


{% macro view_menu_tracking_extras() %}
<div class="ui item disabled checkbox show-turnover-checkbox">
  <input type="checkbox">
  <label>Show turnover map</label>
</div>
<div class="ui item disabled checkbox show-matched-points-checkbox">
  <input type="checkbox">
  <label>Show matched points</label>
</div>
{% endmacro %}


{% macro tracking_help() %}
<div class="ui segment flowing popup">
  <ul class="ui list">
    <li><b>SHIFT + Drag</b> to move the image</li>
    <li><b>SHIFT + Mouse wheel</b> to zoom</li>
    <li><b>SHIFT + Double-click</b> to reset</li>
    <li><b>CTRL + Click</b> in both images to add a manual correction point</li>
    <li><b>CTRL + Drag</b> within the right image from <span class="ui red text">red</span> to <span class="ui green text">green</span> to add a manual correction point</li>
    <li><b>CTRL + Click</b> on a highlighted <span class="ui teal text">cyan</span> point to remove it</li>
  </ul>
</div>
<script>$('.help-menu-button').last().popup({hoverable:false});</script>
{% endmacro %}


{% macro tracking_item_content() %}
<!--------- MACRO tracking_item_content() START---------->
<div class="tracking-content" style="display:none">
  {{ content_menu.content_menu(
    callback_on_process        = "RootTracking.on_process_clicked",
    callback_apply_corrections = "RootTracking.on_apply_corrections",
    callback_download          = "RootTrackingDownload.on_single_item_download_click",
    view_menu_results_layout   = False,
    view_menu_extras           = view_menu_tracking_extras(),
    help_popup                 = tracking_help()
  ) | indent }}

  <div class="image-container">
    {{ base_js_templates.content_image(name="left input",  overlay=True, viewcontrols="TrackingViewControls", extras=svg_overlay(name="left"))  | indent(8) }}
    {{ base_js_templates.content_image(name="right input", overlay=True, viewcontrols="TrackingViewControls", extras=svg_overlay(name="right")) | indent(8) }}
    {{ base_js_templates.progress_dimmer() }}
  </div>
</div>
<!--------- MACRO tracking_item_content() END---------->
{% endmacro %}


{% macro tracking_item_template() %}
<!--------- MACRO tracking_item_template() START---------->
<template id="tracking-item">
  <tr class="ui title" filename0="${filename0}" filename1="${filename1}">
      <td style="width:50%;"> 
          <i class="dropdown icon"></i>
          {# {{ base_js_templates.status_icons()         | indent(8) }} #}
          <label>${filename0}</label>
      </td>
      <td style="width:50%;">
          <label>${filename1}</label>
      </td>

      <!--<td style="display:flex; justify-content: space-around;" onclick="event.stopPropagation();">
          <i class="grey close icon"></i>
      </td>-->
  </tr>
  
  <tr style="display:none" filename0="${filename0}" filename1="${filename1}" filename="${filename0}.${filename1}"> {# filename= acts as an id for this row #}
      <td colspan="5" class="ui content" style="padding:0px;">
        {{ base_js_templates.loading_spinner() | indent(8) }}
        {{ tracking_item_content()             | indent(8) }}
      </td>
  </tr>
</template>



{# TODO: put somewhere else #}
<svg style="position:absolute; pointer-events:none;" id="svg-defs">
<defs>
  <marker id="dot-marker" viewBox="0 0 4 4" refX="2" refY="2" markerHeight="2" markerWidth="2">
    <circle r="2" cx="2" cy="2" fill="blue"></circle>
  </marker>
  <marker id="dot-marker-red" viewBox="0 0 2 2" refX="1" refY="1" markerHeight="1" markerWidth="1">
    <circle r="1" cx="1" cy="1" fill="red"></circle>
  </marker>
  <marker id="dot-marker-green" viewBox="0 0 2 2" refX="1" refY="1" markerHeight="1" markerWidth="1">
    <circle r="1" cx="1" cy="1" fill="green"></circle>
  </marker>
</defs>
</svg>
<!--------- MACRO tracking_item_template() END---------->
{% endmacro %}








{% macro tracking_tab() %}
<!--------- MACRO tracking_tab() START---------->
<div class="ui tab segment" data-tab="tracking"  style="padding:0">
  {{ filetable_menu(
    callback_on_process_all     = "RootTracking.on_process_all",
    callback_on_download_all    = "RootTrackingDownload.on_download_all"
  ) }}
  <table class="ui unstackable celled table accordion" id="tracking-filetable" style="border:0px; margin:0px;">
      <thead>
          <tr>
            <th colspan="2">No Image Pairs Loaded</th>
          </tr>
      </thead>
      
      <tbody>
        {#   #tracking-item inserted from javascript here   #}
      </tbody>
  </table>
  <script> $('#tracking-filetable.accordion').accordion({duration:0, onOpening:RootTracking.on_accordion_open}) </script>
</div>

{{ tracking_item_template() }}
<!--------- MACRO tracking_tab() END---------->
{% endmacro %}

