
<!--------- INCLUDE tracking_tab.html START---------->

<table class="ui basic celled table accordion" id="tracking-filetable" style="border-top-width: 0px;">
    <thead>
        <tr>
          <th>No Image Pairs Loaded</th>
        </tr>
    </thead>
    
    <tbody>
      {#   #tracking-item inserted from javascript here   #}
    </tbody>
</table>
<script> $('#tracking-filetable.accordion').accordion({duration:0, onOpening:RootTracking.on_accordion_open}) </script>

<!--------- INCLUDE tracking_tab.html END---------->

