{% from 'base/main_container.html' import filetable_menu %}

<!--------- INCLUDE tracking_tab.html START---------->
{{ filetable_menu() }}
<table class="ui unstackable table accordion" id="tracking-filetable" style="border:0px; margin:0px;">
    <thead>
        <tr>
          <th colspan="2">No Image Pairs Loaded</th>
        </tr>
    </thead>
    
    <tbody>
      {#   #tracking-item inserted from javascript here   #}
    </tbody>
</table>
<script> $('#tracking-filetable.accordion').accordion({duration:0, onOpening:RootTracking.on_accordion_open}) </script>


<!--------- INCLUDE tracking_tab.html END---------->

