<!--{{warning}}-->

{% import 'base/js_templates.html' as base_js_templates %}
{% from   'base/top_menu.html'        import top_menu %}
{% from   'roots/main_container.html' import main_container %}
{% from   'base/modals.html'          import modal_training_progress %}
{% from   'roots/modals.html'         import modal_settings %}

{% set app = "RootDetectorApp" %}

<html>
<head>
    <title>DigIT RootDetector</title>
    {# TODO: indent #}
    {% include 'base/scripts.html'   %}
    {% include 'roots/scripts.html'  %}

    {{ base_js_templates.filetable_row_template(app)  | indent }}
    {% include  'roots/js_templates.html' %}
</head>


<body onload="{{app}}.init()">

    {{ top_menu(app)             | indent }}

    {{ main_container(app)       | indent }}

    {{ modal_settings()          | indent }}
    {{ modal_training_progress() | indent }}

</body>
</html>
