<!--{{warning}}-->

{% import 'base/js_templates.html' as base_js_templates %}
{% import 'base/top_menu.html'     as base_top_menu %}

<html>
<head>
    <title>DigIT RootDetector</title>
    {# TODO: indent #}
    {% include 'base/scripts.html'   %}
    {% include 'roots/scripts.html'  %}

    {{ base_js_templates.filetable_row_template(app="RootDetectorApp") }}
    {% include  'roots/js_templates.html' %}
</head>


<body onload="init()">

    {{ base_top_menu.top_menu(app="RootDetectorApp") }}

    {% include 'roots/main_container.html' %}

    {% include 'roots/modals.html'          %}

</body>
</html>
